<h2 class="display-2">Top 400 Trending Youtube Videos</h2>

<%# Now we pass it the collection of youtube videos  %>
<%# This is different than the show page, that is video this is videos  %>
<%= render partial: @videos, locals: {show_link: true } %>