<h1>Youtube Videos</h1>
<h2>Top 400 Trending Youtube Videos</h2>
<ol>
<%# Now we'll loop through the videos and get links to their show page
And we'll get links to their channel creators show page %>
  <% @videos.each do |v| %>
  <li><%= link_to v.title, v %>
   was created by <%= link_to v.channel_creator.name, v.channel_creator %> </li>
  <% end %>
</ol>
