<%# This is where the html for the about us page will be %>
<h2 class="display-2">ERD and Dataset Description</h2>
<img src="/assets/images/erd.PNG" alt="ERD">
<p>This ERD contains 3 models. The categories of uploads, the youtubers (called chanel creators) and the Youtube videos.</p>
<p>There is a 1-to-many association between videos and channel creators</p>
<p>There is a 2nd 1-to-many association between categories and videos</p>