<div class="columns">
  <div class="column">
    <h2 class="title is-2">Trending Youtube Songs</h2>
    <ol class="ml-5">
      <%= @videos.each do |v| %>
        <li>
          <%= link_to v.title, v%>
          <em><%= v.channel_creator.name %></em>
        </li>
        <% end %>
    </ol>
  </div>
  <div class="column">
    <h2 class="title is-2">Popular Youtubers</h2>
    <ol class="ml-5">
      <%= render @channel_creators %>
    </ol>
  </div>
</div>