<h2 class="display-2">Videos in this Category</h2>


<%= render partial: @videos, locals: {show_link: true, single_page: false } %>
<%# <%= will_paginate @videos, renderer: BootstrapPagination::Rails %>