<hr>
<footer>
  <p><em>Youtube Data</em></p>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Home", root_path %></li>
    <li class="list-group-item"><%= link_to "Popular uploads", videos_path %></li>
    <li class="list-group-item"><%= link_to "Popular Youtubers", channel_creators_path %></li>
    <li class="list-group-item"><%= link_to "About", about_path %></li>
  </ul>
</footer>