<hr>
<footer>
  <p><em>Youtube Data</em></p>
  <ul class="mt-5">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Popular uploads", videos_path %></li>
    <li><%= link_to "Popular Youtubers", channel_creators_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>
</footer>